html, body {
      margin: 0;
      padding: 0;
      width: 100%;
}

body {
      font-family: "Helvetica Neue",sans-serif;
      font-weight: lighter;
}

/* ----------------------Navbar--------------------------- */

.navHeader {
      width: 100%;
      height: 100vh;
      background: url(../images/homebg1.jpg) no-repeat 50% 50%;
      background-size: cover;
      z-index:1;
}

.content {
      width: 94%;
      margin: 4em auto;
      font-size: 20px;
      line-height: 30px;
      text-align: justify;
      z-index:1;
}

.logo {
      line-height: 60px;
      position: fixed;
      float: left;
      margin: 6px 40px;
      color: #fff;
      font-weight: bold;
      font-size: 20px;
      letter-spacing: 2px;
      z-index:1;
}

.navigation{
      position: fixed;
      width: 100%;
      line-height: 20px;
      z-index:1;
}

.un {
      line-height: 20px;
      list-style: none;
      background: rgba(0, 0, 0, 0);
      overflow: hidden;
      color: #fff;
      padding: 0;
      text-align: right;
      margin: 0;
      padding-right: 40px;
      transition: 1s;
      z-index:1;
}





.navigation.black .un {
      background:rgba(19, 19, 19, 0.9);
      z-index:1;
}




.un li {
      display: inline-block;
      margin-top:15px;
      z-index:1;
      
}

.un li a {
      text-decoration: none;
      color: #fff;
      font-size: 14px;
      font-family: 'Roboto Slab', serif;
      line-height:  10px;
      padding: 5px 10px;
      text-transform: uppercase;
      transition: .5s;
      display: inline-block;
      margin-bottom: 7px;
      font-weight: bold;
      z-index:1;
}

.menu-icon {
      line-height: 60px;
      width: 100%;
      background: #000;
      text-align: right;
      box-sizing: border-box;
      padding: 15px 24px;
      cursor: pointer;
      color: #fff;
      display: none;
      z-index:1;
      
}
/* ------------------------------- */

/* ------------Navigation Hover effects ----------------- */
.un a::after{
	content: '';
	display:block; 
	width:0px;
	height: 2px;
	background:rgb(255, 255, 255);
      transition: width .3s;
      margin-top:2px;
}

.un a:hover::after{
	width:100%;
	transition: width .3s;
}

/* ----------------------------------------------------------------- */
/* Video */
#vid{
      width: 50%;
      
      margin: 150px 50px ; 

     
      

      /* display: flex;
      align-items: center;
      justify-content:center;

      position: absolute;
      top: 5%;
      left: 50%;
      transform: translate(-50%,0); */
      
      
      
}
/* ------------- */

/* animated welcome screen */

.animatewelcome{
      text-align: right;
      margin-right: 150px;
      margin-top: -400px;
}

.animatewelcome p{
      color: white;
      font-size:30px;
      margin:2px;
}


.animatewelcome span:before{
content: '';
animation: animate infinite 10s;
font-weight: bold;
}

.animatewelcome p2{
      color: rgb(255, 145, 0);
      font-size: 20px;
      font-family: fantasy;
      letter-spacing: 2px;
      text-transform: uppercase;
      
}

@keyframes animate{
	0%{
            content:'';
      }
	20%{
	content:'Today';
	}
	40%{
	content:'Tomorrow';
	}
	60%{
	content:'The Next Day';
	}
	
}

/* --------- */

/* ------Responsive video & animate welcome--- */

@media(min-width:992px){
     #vid{
      width: 50%;
      margin: 150px 50px ;
      }

      .animatewelcome{
      text-align: right;
      margin-right: 150px;
      margin-top: -400px;
}
      
}





@media screen and (max-width:960px) {
     .animatewelcome{
      text-align: right;
      margin-right: 150px;
      margin-top: -400px;
}
#vid{
      width: 50%;
      margin: 150px 50px ;
      }
}

@media screen and (max-width:768px) {
    .animatewelcome{
      text-align: right;
      margin-right: 150px;
      margin-top: 30px;
      }
      #vid{
      width: 50%;
      margin: 100px 50px ;
      }
}

@media screen and (max-width:480px) {
      /* .animatewelcome{
      text-align: right;
      margin-right: 150px;
      margin-top: -400px;
      } */
  
}

/* ---------------------Section 2 -------------------- */



.section2{
      width: 100%;
      height: 120vh;
      background: url(../images/homebg2.jpg) no-repeat 50% 50%;
      background-size: cover;
      margin:0px 0px;
}


.projectbuttonmiddle{
      height: auto;
      text-align: center;
      
      

      display: flex;
      align-items: center;
      justify-content:center;

      position: absolute;
      left: 50%;
      transform: translate(-50%,0);

      margin-top: 310px;
}



.lightingbuttonproject a{
	position:relative;
	display: inline-block;
	padding: 15px 30px;
	color: #2196f3;
	text-transform: uppercase;
	Letter-spacing:4px;
	text-decoration: none;
	font-size: 24px;
	overflow: hidden;
      transition: 0.2s;
      
      font-family: fantasy;
      
      border: white;
      border-style: solid;
      border-radius: 2px;
      
}

.lightingbuttonproject a:hover{
	color: black;
	background: #00ffff;
      box-shadow: 0 0 10px #00ffff, 0 0 40px #00ffff, 0 0 80px #00ffff;
      transition-delay: 0.4s;
}

.lightingbuttonproject a span{
	position: absolute;
	display: block;
}
.lightingbuttonproject a span:nth-child(1){
	top:0;
	left: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(90deg,transparent,white);
}
.lightingbuttonproject a:hover span:nth-child(1)
{	
left:100%;
transition: 1s;
}

.lightingbuttonproject a span:nth-child(3){
	bottom:0;
	right: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(270deg,transparent,white);
}
.lightingbuttonproject a:hover span:nth-child(3)
{	
      right:100%;
      transition: 1s;
}

.lightingbuttonproject h1{
      margin: 0px 0px;
}













.lightingbutton1 a{
	position:relative;
	display: inline-block;
	padding: 15px 30px;
      color: #2196f3;
      
	text-transform: uppercase;
	Letter-spacing:4px;
	text-decoration: none;
	font-size: 24px;
	overflow: hidden;
      transition: 0.2s;
      margin: 430px 120px;
      font-family: fantasy;
      border: white;
      border-style: solid;
      border-radius: 2px;
}

.lightingbutton1 a:hover{
	color: black;
	background: #00ffff;
      box-shadow: 0 0 10px #00ffff, 0 0 40px #00ffff, 0 0 80px #00ffff;
      transition-delay: 0.4s;
}

.lightingbutton1 a span{
	position: absolute;
	display: block;
}
.lightingbutton1 a span:nth-child(1){
	top:0;
	left: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(90deg,transparent,white);
}
.lightingbutton1 a:hover span:nth-child(1)
{	
left:100%;
transition: 1s;
}

.lightingbutton1 a span:nth-child(3){
	bottom:0;
	right: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(270deg,transparent,white);
}
.lightingbutton1 a:hover span:nth-child(3)
{	
      right:100%;
      transition: 1s;
}

.lightingbutton1 h1{
      margin: 0px 0px;
}

.description{
      margin:-640px 10px;
      text-align: left;

      
}


.description h1{
      font-weight: bold;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      text-transform: uppercase;
      color:rgb(255, 145, 0);
      letter-spacing: 3px;
      margin-bottom: -16px;
}
.description #span1{
      color: rgb(238, 73, 44);
      font-size: 35px;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.description #span2{
      color:  rgb(238, 73, 44);
      font-size: 32px;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.description h2{
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 20px;
      color:  rgb(238, 73, 44);
      text-transform: uppercase;

}

.description h3{
      color:rgb(255, 145, 0);
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      
}


.description #span1:before{
content: '';
animation: animate1 infinite 5s;
font-weight: bold;
}



@keyframes animate1{
	0%{
            content:'';
      }
	30%{
	content:'50';
      }
      
      60%{
	content:'75';
	}
	
	
}


.description #span2:before{
content: '';
animation: animate2 infinite 5s;
font-weight: bold;
}



@keyframes animate2{
	0%{
            content:'';
      }
	30%{
	content:'Clients';
      }
      
      60%{
	content:'Projects';
	}
	
	
}

/* video */


.projectvideo{
      position: absolute;
      text-align: center;
     
      

      display: flex;
      align-items: center;
      justify-content:center;

      position: absolute;
      left: 50%;
      transform: translate(-50%,0);

      margin-top: 50px;
}

#vid3{
      width: 90%;
      
      
}


/* ----------------------------- */
@media screen and (max-width:960px) {
  #vid3{
      width: 90%;
      
      
}
      /* .description{
             font-size: 14px;
            
      } */
}

@media screen and (max-width:768px) {
      #vid3{
      width: 90%;
      
      
}

      /* .description{
            
            font-size: 14px;
            
      }
      */

      
}
@media screen and (max-width:480px) {
     #vid3{
      width: 90%;
      
      
}

      /* .description{
            
            font-size: 14px;
      } */
  
}




/* ---------- */
/* Section3  Services*/

.section3{
      
      width: 100%;
      height: 180vh;
      background: url(../images/homecontactbg.jpg) no-repeat 50% 50%;
      background-size: cover;

}


/* .inner-width{
  width: 100%;
  max-width: 900px;
  margin: auto;
  padding: 0 20px;
  overflow: hidden;
}
.section-title{
  text-align: center;
  color: #ddd;
  text-transform: uppercase;
  font-size: 30px;
}

.services-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.service-box{
  max-width: 33.33%;
  padding: 10px;
  text-align: center;
  color: #ddd;
  cursor: pointer;
}

.service-box a{
      text-decoration: none;
      color: inherit;
}

.service-icon{
  display: inline-block;
  width: 70px;
  height: 70px;
  border: 3px solid rgb(255, 145, 0);
  color: rgb(255, 145, 0);
  transform: rotate(45deg);
  margin-bottom: 30px;
  margin-top: 16px;
  transition: 0.3s linear;
}
.service-icon i{
  line-height: 70px;
  transform: rotate(-45deg);
  font-size: 26px;
}
.service-box:hover .service-icon{
  background: rgb(238, 73, 44);
  color: #ddd;
}
.service-title{
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.service-desc{
  
  background-color: rgba(19, 19, 19, 0.5);
  font-size: 14px;
} */

/* @media screen and (max-width:960px) {
  .service-box{
    max-width: 45%;
  }

  .services-section{
        height: 1100px;
  }
}

@media screen and (max-width:768px) {
  .service-box{
    width: 30%;
  }
}

@media screen and (max-width:480px) {
  .service-box{
    width: 20%;
  }
  
} */







/* ------------------------------------------ */



/* ----------------------------------Navbar ------------------------------- */
@media(max-width: 786px) {

      .logo {
            position: fixed;
            top: 0;
            margin-top: 16px;
      }
      
      .un {
            max-height: 0px;
            background: rgb(19, 19, 19);

      }

      .un li {
      text-decoration: none;
      color: #fff;
      font-size: 14px;
      font-family: 'Roboto Slab', serif;
      line-height:  5px;
      padding: 0px 0px;
      text-transform: uppercase;
      transition: .5s;
      }


      .navigation.black .un {
            background: rgb(20, 20, 20);
      }

      .showing {
            max-height: 50em;
      }

      .un li {
            box-sizing: border-box;
            width: 100%;
            padding: 24px;
            text-align: center;
      }

      .menu-icon {
            
            display: block;
            background:#5f454542 ;
      }
      /* -------------------------------------------- */
}

@media(min-width:992px){
      
}



@media(min-width: 758px) and (max-width:991px){
     
}

@media(min-width:575px) and(max-width:757px){
     

}

@media(min-width:480px) and(max-width:574px){
     
}


/* ------Contact us------- */

.contactbuttonmiddle{
      height: auto;
      text-align: center;
      
      

      display: flex;
      align-items: center;
      justify-content:center;

      position: absolute;
      left: 50%;
      transform: translate(-50%,0);

      margin-top: 220px;
}




.contactsection{
      width: 100%;
      height: 100vh;
      background: url(../images/homebg4.jpg) no-repeat 50% 50%;
      background-size: cover;

}


.lightingbutton2 a{
	position:relative;
	display: inline-block;
	padding: 15px 30px;
	color: #2196f3;
	text-transform: uppercase;
	Letter-spacing:4px;
	text-decoration: none;
	font-size: 24px;
	overflow: hidden;
      transition: 0.2s;
      
      font-family: fantasy;
      
      border: white;
      border-style: solid;
      border-radius: 2px;
      
}

.lightingbutton2 a:hover{
	color: black;
	background: #00ffff;
      box-shadow: 0 0 10px #00ffff, 0 0 40px #00ffff, 0 0 80px #00ffff;
      transition-delay: 0.4s;
}

.lightingbutton2 a span{
	position: absolute;
	display: block;
}
.lightingbutton2 a span:nth-child(1){
	top:0;
	left: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(90deg,transparent,white);
}
.lightingbutton2 a:hover span:nth-child(1)
{	
left:100%;
transition: 1s;
}

.lightingbutton2 a span:nth-child(3){
	bottom:0;
	right: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(270deg,transparent,white);
}
.lightingbutton2 a:hover span:nth-child(3)
{	
      right:100%;
      transition: 1s;
}

.lightingbutton2 h1{
      margin: 0px 0px;
}


.contactdes{
	height: auto;
      text-align: center;
     

      display: flex;
      align-items: center;
      justify-content:center;

      position: absolute;
      left: 50%;
      transform: translate(-50%,0);

      margin-top: 100px;

}


.contactdes span:before{
content: '';
animation: animate3 infinite 10s;
font-weight: bold;
}

.contactdes h1{
      color: rgb(255, 145, 0);
      font-size: 30px;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      letter-spacing: 2px;
      text-transform: uppercase;
      
      
      
}

.contactdes span{
      color:rgb(238, 73, 44);
}

@keyframes animate3{
	0%{
            content:'';
      }
	20%{
	content:'Query';
	}
	40%{
	content:'Suggestion';
	}
	60%{
	content:'Well Wishing';
	}
	
}

/* ------------ */
@media screen and (max-width:960px) {
  
}

@media screen and (max-width:768px) {
      
}

@media screen and (max-width:480px) {
  
  
}


/* ---------- */

/* --------social media-------------- */
.middle{
  
 
  text-align: center;
  
}
.careermiddle{
      text-align: center;
      margin-top: 100px;
      margin-bottom: 0;

}
.btn{
  display: inline-block;
  width: 50px;
  height: 50px;
  background: #f1f1f1;
  margin: 5px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #00000070;
  color: #3498db;
  overflow: hidden;
  position: relative;
}
.btn i{
  line-height: 50px;
  font-size: 26px;
  transition: 0.2s linear;
}
.btn:hover i{
  transform: scale(1.3);
  color: #f1f1f1;
}
.btn::before{
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: #3498db;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}
.btn:hover::before{
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}
@keyframes aaa {
  0%{
    left: -110%;
    top: 90%;
  }50%{
    left: 10%;
    top: -30%;
  }100%{
    top: -10%;
    left: -10%;
  }
}

/* ----------------------- */
/* ----------footer--------- */
.footer {
      margin:0px 0px;
      text-align: center;
      background-color: lightcyan;
      
}
.careerfooter{
      margin:0px 0px;
      text-align: center;
      background-color: lightcyan;
}
.footer p{
      margin:0px 0px;
      color:rgb(238, 73, 44);
      font-family: fantasy;
}

.footer a{
      text-decoration: none;
      color:#e1305e;
}

.careerfooter p{
      margin:0px 0px;
      color:rgb(238, 73, 44);
      font-family: fantasy;
}

.careerfooter a{
      text-decoration: none;
      color:#e1305e;
}

/* ----------------About US-------------- */



@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");


.team-section{
      
      /* background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB); */
      background-color: white;
	min-height: 100vh;
	padding:70px 15px 30px;
}



.container{
	max-width: 1170px;
	margin:auto;
}

.row{
	display: flex;
	flex-wrap: wrap;
}



.team-section .section-title{
	flex-basis: 100%;
	max-width: 100%;
	margin-bottom: 70px;
}

.team-section .section-title h1{
	font-size: 40px;
	text-align: center;
	margin:0;
	color: white;
	font-weight: 700;
}

.team-section .section-title p{
	font-size:16px;
	text-align: center;
	margin:15px 0 0;
	color:#ffffff;
}
.team-section .team-items{
	
	flex-basis: 100%;
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.team-section .team-items .item{
 flex-basis: calc(25% - 30px);
 max-width: calc(25% - 30px);
 transition: all .5s ease;
 margin-bottom: 40px;
}
.team-section .team-items .item img{
	display: block;
	width: 100%;
	border-radius: 8px;
}

.team-section .team-items .item .inner{
	position: relative;
	z-index: 11;
	padding:0 15px;
}
.team-section .team-items .item .inner .info{
	background-color:#e1305e;
	text-align: center;
	padding: 20px 15px;
	border-radius:8px;
	transition: all .5s ease;
	margin-top: -40px;
}
.team-section .team-items .item:hover  .info{
    transform: translateY(-20px);
}
.team-section .team-items .item:hover{
 transform: translateY(-10px);	
}
.team-section .team-items .item .inner .info h5{
	margin:0;
	font-size: 18px;
	font-weight: 600;
	color:#ffffff;
}
.team-section .team-items .item .inner .info p{
	font-size: 16px;
	font-weight: 400;
	color:#18aaee;
      margin:10px 0 0;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-weight: bold;
}

.team-section .team-items .item .inner .info .social-links{
	padding-top: 15px;
}

.team-section .team-items .item .inner .info .social-links a{
	display: inline-block;
	height: 32px;
	width: 32px;
	background-color: #ffffff;
	color:#2268d1;
	border-radius: 50%;
	margin:0 2px;
	text-align: center;
	line-height: 32px;
	font-size:16px;
	transition: all .5s ease;
}

.team-section .team-items .item .inner .info .social-links a:hover{
	box-shadow: 0 0 10px #000;
}

/*responsive*/
@media(max-width: 991px){
	.team-section .team-items .item{
      flex-basis: calc(50% - 30px);
       max-width: calc(50% - 30px);

   }
}

@media(max-width: 767px){
	.team-section .team-items .item{
      flex-basis: calc(100%);
       max-width: calc(100%);

   }
}


.aboutHeader{
	width: 100%;
      height: 70vh;
      background: url(../images/aboutnewbg.jpg) no-repeat 50% 50%;
      background-size: cover;
}

.pageheaderTop{
      

      height: auto;
      text-align: center;
      border: solid 2px white;
      font-weight: 200;
      font-size: 24px;

      display: flex;
      align-items: center;
      justify-content:center;

      position: absolute;
      left: 50%;
      transform: translate(-50%,0);

      margin-top: 150px;

      color:white;
      font-weight:bold ;

      background-color: rgba(19, 19, 19, 0.5);


      }



.aboutusdescription{
      height: auto;
      text-align: center;
      border: solid 2px white;
      font-weight: 200;
      font-size: 15px;

      display: flex;
      align-items: center;
      justify-content:center;

      position: absolute;
      left: 50%;
      transform: translate(-50%,0);

      margin-top: 200px;

      color:white;
      font-size: 18px;
      font-weight: bold;

       background-color: rgba(19, 19, 19, 0.5);
}







.desAbout{
	background: none;
	width: 50%;
	padding: 40px;
	margin: 100px auto;
}


/* .desAbout p{
	font-size:25px;
	color: black;
} */

.desAbout p{
      background-color: rgba(81, 151, 167, 0.72)
}

/* about us footer */

.aboutusfooter {
      margin-top:10px;
      margin-bottom: 10px;
      text-align: center;
      background-color: lightcyan;
      
}

@media screen and (max-width:960px) {
  /* .pageheaderTop{
      
      text-align: center;
      transform: translate(270%, 200%);
      
      height: 50px;
      width:150px;
      font-size: 24px;
      
} */


}

@media screen and (max-width:768px) {
    

      
      
}

@media screen and (max-width:480px) {
      
  
}






/* -------------------------------------------- */

/* ----Projects------ */

.projectsnavHeader{
      width: 100%;
      height: 50vh;
      background: url(../images/projectsbg.jpg) no-repeat 50% 50%;
      background-size: cover;
}

.project{
      position: relative;
      margin: 0px 0px;
      
}




.box-area{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
      align-items: center;
     
}

.box-area1{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
      align-items: center;
      
}

.box-area2{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
      align-items: center;
      
}

.box-area3{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
      align-items: center;
      
}


.single-box{
	/* position: relative; */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 200px;
	height: auto;
	border-radius: 4px;
	/* background-color: #fff; */
	text-align: center;
	margin:20px;
	padding: 20px;
      transition: .3s;
      background: #e1305e;
}

.single-box1{
	/* position: relative; */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 200px;
	height: auto;
	border-radius: 4px;
	background: #e1305e;
	text-align: center;
	margin:20px;
	padding: 20px;
	transition: .3s;
}

.single-box2{
	/* position: relative; */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 200px;
	height: auto;
	border-radius: 4px;
	background: #e1305e;
	text-align: center;
	margin:20px;
	padding: 20px;
	transition: .3s;
}

.single-box3{
	/* position: relative; */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 200px;
	height: auto;
	border-radius: 4px;
	background: #e1305e;
	text-align: center;
	margin:20px;
	padding: 20px;
	transition: .3s;
}

.img-area{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 80px;
	border: 6px solid #ddd;
	border-radius: 50%;
	margin-bottom: 10px;
	padding: 20px;
	-webkit-background-size: cover;
	background-size: contain;
      background-position: center center;
      background-color: white;
}

.img-area1{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 80px;
	border: 6px solid #ddd;
	border-radius: 50%;
	margin-bottom: 10px;
	padding: 20px;
	-webkit-background-size: cover;
	background-size: contain;
      background-position: center center;
      background-color: white;
}

.img-area2{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 80px;
	border: 6px solid #ddd;
	border-radius: 50%;
	margin-bottom: 10px;
	padding: 20px;
	-webkit-background-size: cover;
	background-size: contain;
      background-position: center center;
      background-color: white;
}

.img-area3{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 80px;
	border: 6px solid #ddd;
	border-radius: 50%;
	margin-bottom: 10px;
	padding: 20px;
	-webkit-background-size: cover;
	background-size: contain;
      background-position: center center;
      background-color: white;
}

.single-box:nth-child(1) .img-area{
	background-image: url(1.png);
}
.single-box:nth-child(2) .img-area{
	background-image: url(2.png);
}
.single-box:nth-child(3) .img-area{
	background-image: url(3.png);
}

.single-box1:nth-child(1) .img-area1{
	background-image: url(4.png);
}
.single-box1:nth-child(2) .img-area1{
	background-image: url(5.png);
}
.single-box1:nth-child(3) .img-area1{
	background-image: url(6.png);
}

.single-box2:nth-child(1) .img-area2{
	background-image: url(7.png);
}
.single-box2:nth-child(2) .img-area2{
	background-image: url(8.png);
}
.single-box2:nth-child(3) .img-area2{
	background-image: url(9.png);
}

.single-box3:nth-child(1) .img-area3{
	background-image: url(../images/comingsoon.jpg);
}
.single-box3:nth-child(2) .img-area3{
	background-image: url(../images/comingsoon.jpg);
}
.single-box3:nth-child(3) .img-area3{
	background-image: url(../images/comingsoon.jpg);
}

.header-text{
	font-size: 24px;
	font-weight: 500;
      line-height: 40px;
      
}

.img-text{
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      color:white;
	padding-top: 20px;
}

.img-text p{
	font-size: 15px;
	font-weight: 400;
      line-height: 30px;
      font-family: Arial, Helvetica, sans-serif;
      color: white;
      
} 

.single-box:hover{
	background: rgb(238, 73, 44);
	color: #fff;
}

.single-box1:hover{
	background: rgb(238, 73, 44);
	color: #fff;
}

.single-box2:hover{
	background: rgb(238, 73, 44);
	color: #fff;
}

.single-box3:hover{
	background: rgb(238, 73, 44);
	color: #fff;
}
/* --------------------- */



/* ---------- Services ------------------- */

.service-icon2{
  display: inline-block;
  width: 70px;
  height: 70px;
  border: 3px solid white;
  border-radius: 50%;
  color: white;
  transform: rotate(45deg);
  margin-bottom: 30px;
  margin-top: 16px;
  transition: 0.3s linear;
}
.service-icon2 i{
  line-height: 70px;
  transform: rotate(-45deg);
  font-size: 26px;
}




 .servicesnavHeader{
      width: 100%;
      height: 50vh;
      background: url(../images/servicesbg.jpg) no-repeat 50% 50%;
      background-size: cover;
 }

.servicescontainer{
      
	width: 800px;
	margin: 50px auto 0;
	display: table;
	box-sizing: border-box;
}

.servicerow{
margin: 20px 0;
}

.servicecolumn{
	background: #000;
	display: table-cell;
	padding: 10px;
	width: 33.33%;
	text-align: center;
	color: #fff;
	vertical-align: middle;
	border-right: 10px solid #fff;
	border-left  : 10px solid #fff;
}

.servicecolumn h1{
      border-style: solid;
      border-radius: 2px;
}

.servicecolumn p{
      text-align: left;
}

.servicecolumn span{
      color: white;
      font-size: 24px;
      
}

.servicerow:nth-child(1) .servicecolumn:nth-child(1){
	background: #e1305e;
}

.servicerow:nth-child(1) .servicecolumn:nth-child(2){
	background: #e1305e;
}

.servicerow:nth-child(1) .servicecolumn:nth-child(3){
	background: #e1305e;
}


.servicescontainer2{
	width: 800px;
	margin: 50px auto 0;
	display: table;
	box-sizing: border-box;
}

.servicerow2{
margin: 20px 0;
}

.servicecolumn2{
	background: #000;
	display: table-cell;
	padding: 10px;
	width: 33.33%;
	text-align: center;
	color: #fff;
	vertical-align: middle;
	border-right: 10px solid #fff;
	border-left  : 10px solid #fff;
}

.servicecolumn2 h1{
      border-style: solid;
      border-radius: 2px;
}

.servicecolumn2 p{
      text-align: left;
}

.servicecolumn2 span{
      color: white;
      font-size: 24px;
      
}

.servicerow2:nth-child(1) .servicecolumn2:nth-child(1){
	background: #e1305e;
}

.servicerow2:nth-child(1) .servicecolumn2:nth-child(2){
	background: #e1305e;
}

.servicerow2:nth-child(1) .servicecolumn2:nth-child(3){
	background: #e1305e;
}




.lightingbutton3 a{
	position: relative; 
	display: inline-block;
	padding: 10px 20px;
	color: white;
	text-transform: uppercase;
	Letter-spacing:2px;
	text-decoration: none;
	font-size: 18px;
	overflow: hidden;
      transition: 0.2s;
      /* margin: 450px 110px; */
      font-family: fantasy;
      margin: 0 0;
      border-style: solid;
      border-radius: 1px;
      font-family: 'Courier New', Courier, monospace;
}

.lightingbutton3 a:hover{
	color: white;
	background: #2196f3;
      box-shadow: 0 0 1px #2196f3, 0 0 4px #2196f3, 0 0 8px #2196f3;
      transition-delay: 0.4s;
}

.lightingbutton3 a span{
	position: absolute;
	display: block;
}
.lightingbutton3 a span:nth-child(1){
	top:0;
	left: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(90deg,transparent,white);
}
.lightingbutton3 a:hover span:nth-child(1)
{	
left:100%;
transition: 1s;
}

.lightingbutton3 a span:nth-child(3){
	bottom:0;
	right: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(270deg,transparent,white);
}
.lightingbutton3 a:hover span:nth-child(3)
{	
      right:100%;
      transition: 1s;
}







@media (max-width: 900px){
	.servicescontainer{
		margin:0;
		padding: 10px;
		width: 100%;
		}
		
	.servicecolumn{
		width: 100%;
		display: block;
		margin: 10px 0;
		border: none;
		box-sizing: border-box;
	}
	.servicerow{
		margin:0;
      }
      
      .servicescontainer2{
		margin:0;
		padding: 10px;
		width: 100%;
		}
		
	.servicecolumn2{
		width: 100%;
		display: block;
		margin: 10px 0;
		border: none;
		box-sizing: border-box;
	}
	.servicerow2{
		margin:0;
	}


}


@media (max-width: 900px){
	.careercontainer{
		margin:0;
		padding: 10px;
		width: 100%;
		}
		
	.careerrow{
		width: 50%;
		display: block;
		margin: 10px 0;
		border: none;
		box-sizing: border-box;
	}
	.careercolumn{
            margin:0;
            margin:50px;
      }
      
      


}

/* -------------------------- */

/* ---------Contact----------- */

 .contactnavHeader{
      width: 100%;
      height: 50vh;
      background: url(../images/contactusbg.jpg) no-repeat 50% 50%;
      background-size: cover;
 }



.contact-section{
  /* background: url(../images/contactbg.jpg) no-repeat center; */
  
  background-size: cover;
  padding: 40px 0;
}

::placeholder {
  color: white;
}


.contact-form{
  max-width: 600px;
  margin: auto;
  padding: 0 10px;
  overflow: hidden;
  
}



.contact-form-text{
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 16px 0;
  border: 0;
  background: #e1305e;
  padding: 20px 40px;
  outline: none;
  color: white;
  transition: 0.5s;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 14px;
}
.contact-form-text:focus{
  box-shadow: 0 0 10px 4px #34495e;
}
textarea.contact-form-text{
  resize: none;
  height: 120px;
}
.contact-form-btn{
  float: right;
  border: 0;
  background: #e1305e;
  color: #fff;
  padding: 12px 50px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
}
.contact-form-btn:hover{
  background: #2980b9;
}


/* -------------------- */

/* ------ Career-------- */

.careernavHeader{
      width: 100%;
      height: 50vh;
      background: url(../images/careerbg.jpg) no-repeat 50% 50%;
      background-size: cover;
 }


.careercontainer{
	width: 800px;
	margin: 50px auto 0;
	display: table;
	box-sizing: border-box;
}

.careerrow{
margin: 20px 0;
}

.careercolumn{
	background: #000;
	display: table-cell;
	padding: 10px;
	width: 33.33%;
	text-align: center;
	color: #fff;
	vertical-align: middle;
	border-right: 10px solid #fff;
	border-left  : 10px solid #fff;
}



.careercolumn h2{
      color: white;
      font-size: 25px;
      
}


.careercolumn span{
      color: white;
      font-size: 20px;
}

.careerrow:nth-child(1) .careercolumn:nth-child(1){
	background: #e1305e;
}

.careerrow:nth-child(1) .careercolumn:nth-child(2){
	background: #e1305e;
}

.careerrow:nth-child(1) .careercolumn:nth-child(3){
	background: #e1305e;
}

/* see more  */

#more {
      display: none;
}

#myBtn{
      position:relative;
	display: inline-block;
	padding: 5px 10px;
      color: #2196f3;
      
	text-transform: uppercase;
	Letter-spacing:4px;
	text-decoration: none;
	font-size: 14px;
	overflow: hidden;
      transition: 0.2s;
      margin: 0 0;
      font-family: fantasy;
      border: white;
      border-style: solid;
      border-radius: 2px;
}





#more2 {
      display: none;
}

#myBtn2{
       position:relative;
	display: inline-block;
	padding: 5px 10px;
      color: #2196f3;
      
	text-transform: uppercase;
	Letter-spacing:4px;
	text-decoration: none;
	font-size: 14px;
	overflow: hidden;
      transition: 0.2s;
      margin: 0 0;
      font-family: fantasy;
      border: white;
      border-style: solid;
      border-radius: 2px;
}


/* ------------------- */

/* -----Pop up window-------- */
.bg-model{
	width:100%;
	height: 100%;
	background-color: rgb(0,0,0,0.7);
	
	position: fixed;
	top: 0;
	display:flex;
	justify-content: center;
      align-items: center;
      display: none;
}

.model-content{
	width:700px;
      height:500px;
      background-color: white;
      border-radius: 4px;
      text-align:center;
      padding: 20px;
      position: relative;
}


.contact-section2{
  
  
  background-size: cover;
  padding: 40px 0;
}
.contact-section2 h1{
  text-align: center;
  color: #ddd;
}

.contact-form2{
  max-width: 600px;
  margin: auto;
  padding: 0 10px;
  overflow: hidden;
}

.contact-form-text2{
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 16px 0;
  border: 0;
  background: #e1305e;
  padding: 20px 40px;
  outline: none;
  color: white;
  transition: 0.5s;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 14px;
}
.contact-form-text2:focus{
  box-shadow: 0 0 10px 4px #34495e;
}
textarea.contact-form-text2{
  resize: none;
  height: 120px;
}
.contact-form-btn2{
 
  float: right;
  border: 0;
  background: #e1305e;
  color: #fff;
  padding: 12px 50px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
}
.contact-form-btn2:hover{
  background: #2980b9;
}


/* ---- Pop up window------ Career------ */

.bg-model2{
	width:100%;
	height: 100%;
	background-color: rgb(0,0,0,0.7);
	
	position: fixed;
	top: 0;
	
	justify-content: center;
      align-items: center;
      display: none;
}

.model-content2{
	width:700px;
      height:500px;
      background-color: white;
      border-radius: 4px;
      text-align:center;
      padding: 20px;
      position: relative;
}


.contact-section3{
  
  
  background-size: cover;
  padding: 40px 0;
}
.contact-section3 h1{
  text-align: center;
  color: #ddd;
}

.contact-form3{
  max-width: 600px;
  margin: auto;
  padding: 0 10px;
  overflow: hidden;
}

.contact-form-text3{
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 16px 0;
  border: 0;
  background: #e1305e;
  padding: 20px 40px;
  outline: none;
  color: white;
  transition: 0.5s;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 14px;
}
.contact-form-text3:focus{
  box-shadow: 0 0 10px 4px #34495e;
}
textarea.contact-form-text2{
  resize: none;
  height: 120px;
}
.contact-form-btn3{
 
  float: right;
  border: 0;
  background: #e1305e;
  color: #fff;
  padding: 12px 50px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
}
.contact-form-btn3:hover{
  background: #2980b9;
}


.close{
      position: absolute;
      top:0;
      right:14px;
      font-size: 40px;
      transform: rotate(45deg);
      cursor: pointer;

}




